html, body {
    height: 100%;
    font-family: 'Raleway', sans-serif;
    margin:0;
}

.kattintható:hover {
    background-color: #daf332;
    color: black;
    cursor: pointer;
}

#kerdes_szoveg {
    padding-bottom: 15px;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: stretch;
    background-color: #aaf332;
    color: black;
    padding: 10px;
    margin-bottom: 5px;
}

.rossz {
    border: 3px solid #f33232;
}

.jo {
    border: 3px solid #32f37c;
}

#külső {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#középső {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#válaszok {
    flex-grow: 1;
    flex-shrink: 1;
    margin-right: 5px;
}

#kep {
    overflow: hidden;
    flex-shrink: 0;
}

#rejtett {
    display: none;
}

#vezérlő {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gomb {
    padding: 20px;
    width: 80px;
    transition: color 500ms, background-color 1s;
}

.kerdes {
    display: flex;
    height: 50px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    transition: border 1s, background-color 1s;
}